/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}
/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}


@import url('http://fonts.googleapis.com/css?family=Lato:300,400,400i,700');


html {
    --bg-color: #f9ecd1;
    --rust: #600;
    --radius: 4px;
}



a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	border-bottom: 3px solid #800000;
	padding: 1.5em 0;
	background-image: -moz-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -o-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
}
header h1 {
	color: #800000;
		text-align: center;
}
header h2 {
	font-style: italic;
		text-align: center;
}

section h4 {
	clear: both;
}
     

header img {
	float: left;
	padding: 0 30px;
	 width: 80px;
		      height: 80px;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}

.overlay {
	position: fixed;
	top: 0;
	left:  0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background: rgba(0,0,0,0.5);

}

#wrapper {
    margin: 0 auto 0 auto; /* center box **/
    max-width: 840px;
    position: relative; /* needed to keep child html within wrapper */
   background-color: #fffded ;
}

body {
    margin: 0;
    color: #333;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 100%;
    background-color: #fffded ; 
/**  background-color: #ddd; **/
}


a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	border-bottom: 3px solid #800000;
	padding: 1.5em 0;
	background-image: -moz-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -o-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
}
header h1 {
	color: #800000;
		text-align: center;
}
header h2 {
	font-style: italic;
		text-align: center;
}
     

header img {
	float: left;
	padding: 0 30px;
	 width: 80px;
	height: 80px;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
 
/* the styles for the navigation bar */
.nav {
	padding: 0;
	display: flex;

}

.nav li {
	flex: 1;
	text-align: center;
	list-style: none;
}
.nav a {
	color: #fff;
	text-decoration: none;
	padding: 6px;
	display: block;
	background-color: var(--rust);
	transition: background-color 0.5s linear;
}

.nav a:hover {
		color: #fff; 
		background-color: #ff9800;
}


ul {
	list-style: none;
}

aside {
    position: absolute; 
    top: 200px; 
    left: 22px; 
    width: 180px; 
    background-color: var(--bg-color); 
    padding: 6px;
    border: 1px solid #600;
    border-radius: var(--radius);
    box-shadow: 3px 3px 3px #ddd;
}

article {
    margin: 0 20px 0 240px;
}

blockquote  {
    float: right; 
    width: 40%;
    padding: 16px; 
    font-size: 24px;
    font-style: italic;
}

article img {
    float:  right;
}

.popover {
   /* background-color: ghostwhite;  */
   background: #fff;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 112.5px );
    border: 1px solid var(--rust);
    padding: 16px;
    width: 300px;
    height: 225px;
    border-radius: var(--radius);
	box-shadow: 4px 4px 6px rgba(0,0,0,3);
    display: none; /* hide map initially */
	z-index: 15;
}

.popover .closer {
	float: right;
}

.showme {
    display: block;
}




	