@import url('http://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
html {
    --bg-color: #f9ecd1;
    --rust: #600;
    --radius: 4px;
}
body {
    margin: 0;
    color: #333;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 100%;
    background-color: #ddd;
}

#nav {
 /**   background: #ffcb2d url(i/nav_bg.gif) repeat-x bottom left; **/
    background: linear-gradient(to bottom, #ffcb2d 0%,#ffcb2d 96%,#9b8748 100%);

    margin: 0;
    padding: 10px 0 0 46px;
    list-style: none;
    float: left;
    width: 100%;
}
#nav li {
    float: left;
}
#nav a {
    text-decoration: none;
    color: #333;
    padding: 4px 8px;
    border: 1px solid #9b8748;
    margin: 0 6px 0 0;
    border-bottom: none;
    float: left;
    background: #f9eaa9 url(i/off_bg.gif) repeat-x top left;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(224,226,240,1) 6%,rgba(254,254,254,1) 53%);
    
  }

#nav a:hover , 
#p-cuisines .t-cuisines
#p-chefs .t-chefs a{
    padding-bottom: 5px;
    background: #fff url(i/on_bg.gif) repeat-x top left;
    background-image: linear-gradient(to bottom, rgba(255,236,165,1) 0%,rgba(232,213,149,1) 6%,rgba(253,233,162,1) 94%,rgba(253,233,162,1) 100%);
}
#wrapper {
    margin: 0 auto 0 auto; /* center box **/
    max-width: 840px;
    position: relative; /* needed to keep child html within wrapper */
    background-color: #fff;
}
header {
    font-family: 'Crushed', cursive;
    padding-top: 2px;
}
h1, h2 {
    color: var(--rust);
    margin-top: 10px;
    margin-left: 20px;
    font-size: 4rem;
    margin-bottom: 0;
}
h2 {
    font-size: 32px;
    margin-top: 0;
}
h3 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0;
}
aside th {
    text-align: right;
}

aside ul {
    list-style: none; 
    margin: 1em; 
    padding: 0;
}

.nav {
    padding: 0;
    display: flex;
 
    
}

.nav {
     display: flex;
     padding: 0;
}

.nav li {
    flex: 1;
    background-color: #d00;
    list-style: none;
    text-align: center;
}



.nav a:hover { /* psuedo selector */
    color: #fff; 
    background-color: #ff9800;
} 




aside {
    position: absolute; 
    top: 200px; 
    left: 22px; 
    width: 180px; 
    background-color: var(--bg-color); 
    padding: 6px;
    border: 1px solid #600;
    border-radius: var(--radius);
    box-shadow: 3px 3px 3px #ddd;
}
article {
    margin: 0 20px 0 240px;
}
blockquote  {
    float: right; 
    width: 40%;
    padding: 16px; 
    font-size: 24px;
    font-style: italic;
}
article img {
    float:  right;
}
.popover {
    background-color: ghostwhite;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 112.5px );
    border: 1px solid var(--rust);
    padding: 16px;
    width: 300px;
    height: 225px;
    border-radius: var(--radius);
    display: none; /* hide map initially */
}

.showme {
    display: block;
}

@media print {
    * {
        display: none !important;
    }
}

@media all and (max-width: 800px){
    .nav {
        top: 0;
        left:0;
        margin: 0;
    }
    aside {
        position: static;
        float: left;
        margin-right: 20px;
    }
    article {
        margin-left: 20px;
    }
    blockquote {
        width: 100%;
        float: none;
        margin: 0;
    }
}